.content-title-container{
  /* border: 2px solid green; */
  width: 46%;
  height: 60%;
  margin-left: 10%;
  font-weight: lighter;

}
.content-container{
  overflow: hidden;
  display: flex;
  align-items: center;
  color: white;
  height: 67vh;
  /* border: 2px solid red; */
}

.box img{
  max-height: 41vw;
  margin-top: 10vw;
  margin-left: 8vw;
}
.content-head{
  color: goldenrod;
  font-size: 2.5vw;
  font-family: auto
}
.content-title{
  font-family:auto;
  font-size: 4.5vw;
  font-weight: bold;
}
.content-text{
  font-weight: 100;
}
.contact-btn{
  border-radius: 0.5rem;
  font-size: 3vh;
  margin-top: 1rem;
  padding: 8px;
  background-color: goldenrod;
  color: white;
  font-weight: 700;
}
.contact-btn:hover{
    background-color: gold;
    color: black;
}
@media only screen and (max-width: 1000px){
  .box img{
    display: none;
  }
  .content-title-container{
    text-align: center;
    width: 100vw;
    padding: 0 1em;
    margin-left: 0;
    height: 56vh;
  
  }
  .content-title{
    font-size: 10vw;
  }
  .content-head{
    font-size:8vw;
  }
  .content-text{
    font-size: 1.85rem;
  }
}