.navbar {
  background-color: #1f2839;
  position: sticky;
  top: 0px;
  z-index: 50;
}
.logo {
  height: 5vh;
}
.navbar-nav a {
  color: white;
}
.nav-link:hover {
  color: goldenrod;
}
.btn {
  background-color: goldenrod;
  color: white;
  font-weight: bold;
  border-color: white;
}
.navbar-toggler {
  background-color: white;
}
